*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:#A6A7AF;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.headlogo{
    display: flex;
    align-items: center;
    gap: 5px;
    user-select: none;
}
.logo{
    width: 50px;
    height: 50px;
}
.namewbe1{
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.namewbe2{
    font-size: 24px;
    font-weight: bold;
    color: #FF7A00;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
ul li a{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}
ul li a:hover{
    color: #FF7A00;
    text-decoration: underline;
}
h2{
    font-size: 32px;
    color: #333333;
    margin: 40px 0;
    text-align: center;
}
.menu-section{
    padding:  0 100px;
}
.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}
.product{
    border-radius: 10px;
    box-shadow: #6f6464 0px 4px 8px;
    transition: 0.3s;
}
.menu-img{
    width: 300px;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}
h3{
    font-size: 24px;
    color: #333333;
}
p{
    font-size: 18px;
    color: #555555;
    text-align: center;
}
span{
    color: #FF7A00;
    font-weight: bold;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.product:hover{
    transform: scale(1.09);
}
footer{
    background-color: #A6A7AF;
    padding: 40px;
    text-align: center;
    color: white;
    margin-top: 50px;
}
.fooname{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
a{
    text-decoration: none;
    color: #ffff;
}
footer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
footer p{
    color: #ffff;
}
